
  <title>Авторизація</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>


    /* Напівпрозорий наклад для контрасту */  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    /* Стиль для форми */
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 30px;
      margin: auto;
      z-index: 1; /* Щоб форма була поверх відео */
      background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий білий фон */
      border-radius: 8px; /* Згладжені краї форми */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для об’єму */
    }

    .full-height {
      height: 100vh;
    }
  </style>
</head>
<body>


<!-- Напівпрозорий наклад для контрасту -->
<div class="overlay"></div>

<!-- Контент сторінки -->
<div class="container vh-100 full-height d-flex justify-content-center align-items-center">
  <form class="form-signin text-center" method="POST">
    {% csrf_token %}
    <div class="mb-4">
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/148_%D0%9E%D0%93%D0%A1%D0%90%D0%94%D0%BD_%D0%BA.svg/800px-148_%D0%9E%D0%93%D0%A1%D0%90%D0%94%D0%BD_%D0%BA.svg.png" alt="Logo" width="auto" height="72">
      <h1 class="h3 mb-3 font-weight-normal text-dark">Авторизація</h1>
    </div>

    <div class="form-group">
      <label for="username" class="text-dark">Логін</label>
      <input type="text" class="form-control" name="username" placeholder="Введіть логін" required>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="text-dark">Пароль</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Введіть пароль" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <hr>
            <div class="text-center">
            </div>
        </div>
    </div>
{% endblock %}